import { Field, InputType, Int } from '@nestjs/graphql'
import { PagingInput } from '@<%= npmScope %>/api/core/data-access'

@InputType()
export class <%= admin.className %>FindMany<%= model.className %>Input extends PagingInput() {
  @Field({ nullable: true })
  search?: string
}
