import { Field, InputType } from '@nestjs/graphql'

@InputType()
export class <%= model.className %><%= actor.className %>UpdateInput {
<% for (let field of fields){ %>
  @Field({ nullable: true })
  <%= field.name %>?: <%= field.type %>
<% } %>
}
