import { Injectable } from '@nestjs/common'
import { ApiCoreService } from '@<%= npmScope %>/api/core/data-access'
import { Api<%= model.className %><%= admin.className %>Service } from './api-<%= model.fileName %>-<%= admin.fileName %>.service'

@Injectable()
export class Api<%= model.className %>Service {
  constructor(private readonly core: ApiCoreService, readonly <%= admin.propertyName %>: Api<%= model.className %><%= admin.className %>Service) {}
}
